<a href="https://colab.research.google.com/github/Theeyecode/Housing-Stress-Canada/blob/eda/descriptive_stat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exploratory Data Analysis for Canada Housing Survery Data 2022

In [61]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns


url = "https://drive.google.com/uc?id=11Y8p_9-CYw0tpGPFu-jlgzxzWOOVS43F"

In [62]:


df = pd.read_csv(url)
df.head()

,PUMFID,EHA_10,EHA_25,FP_05,DWI_05A,DWI_05B,DWI_05C,DWI_05D,NEI_05A,NEI_05B,...,PSTIR_GR,PVISMIN,PWSA_D15,P2DCT_20,P2DCT_25,PATT_05,PATT_10,PATT_15A,PATT_15B,VERDATE
0,63501,4,2,1,2,2,2,2,4,4,...,1,9,999.6,996,6,1,1,6,6,11/08/2025
1,63502,3,2,2,2,2,2,2,4,4,...,1,2,999.6,996,6,2,1,6,6,11/08/2025
2,63503,3,2,1,2,2,2,2,4,4,...,1,2,999.6,996,6,2,1,6,6,11/08/2025
3,63504,3,2,1,2,1,2,2,3,4,...,1,1,999.6,996,6,2,1,6,6,11/08/2025
4,63505,4,2,1,2,2,2,2,4,4,...,1,2,999.6,2,1,1,2,6,3,11/08/2025

Shape of the Raw data

In [63]:
df.shape

(38657, 103)

In [64]:
# df.dtypes
df.dtypes.value_counts()

int64      98
float64     4
object      1
Name: count, dtype: int64

In [65]:
# Identify non-numeric columns (typically dates or text fields)
df.select_dtypes(include="object").columns.tolist()

['VERDATE']

In [66]:
# Convert verification date to datetime for proper handling
df["VERDATE"] = pd.to_datetime(df["VERDATE"], errors="coerce")

In [67]:
# # Check missing values per column (after initial load)
df.isna().sum().sort_values(ascending=False)

PUMFID      0
EHA_10      0
EHA_25      0
FP_05       0
DWI_05A     0
           ..
PATT_05     0
PATT_10     0
PATT_15A    0
PATT_15B    0
VERDATE     0
Length: 103, dtype: int64

In [68]:
# Get basic descriptive stats for numeric columns (unweighted, structure check)
df.describe().T

,count,mean,min,25%,50%,75%,max,std
PUMFID,38657.0,82829.0,63501.0,73165.0,82829.0,92493.0,102157.0,11159.459015
EHA_10,38657.0,2.888119,1.0,2.0,3.0,4.0,9.0,1.076674
EHA_25,38657.0,1.953126,1.0,2.0,2.0,2.0,9.0,0.327064
FP_05,38657.0,1.028119,1.0,1.0,1.0,1.0,9.0,0.294491
DWI_05A,38657.0,1.96337,1.0,2.0,2.0,2.0,9.0,0.446082
...,...,...,...,...,...,...,...,...
PATT_05,38657.0,6.103733,0.0,1.0,1.0,2.0,99.0,21.497314
PATT_10,38657.0,1.87803,1.0,1.0,1.0,2.0,9.0,1.892823
PATT_15A,38657.0,5.800321,1.0,6.0,6.0,6.0,9.0,1.272822
PATT_15B,38657.0,5.399669,1.0,6.0,6.0,6.0,9.0,1.733045
VERDATE,38657,2025-11-07 23:59:59.999999744,2025-11-08 00:00:00,2025-11-08 00:00:00,2025-11-08 00:00:00,2025-11-08 00:00:00,2025-11-08 00:00:00,NaN

In [69]:
# # Identify columns that contain obvious reserved codes (e.g., 9, 96, 99, 999, etc.)
reserved_codes = [9, 96, 99, 996, 999, 999.6, 999.9, 99999996, 99999999, 99999999999]

reserved_check = {
    col: df[col].isin(reserved_codes).any()
    for col in df.columns
    if df[col].dtype != "object"
}

[k for k, v in reserved_check.items() if v]

['EHA_10',
 'EHA_25',
 'FP_05',
 'DWI_05A',
 'DWI_05B',
 'DWI_05C',
 'DWI_05D',
 'NEI_05A',
 'NEI_05B',
 'NEI_05C',
 'NEI_05D',
 'NEI_05E',
 'NEI_05F',
 'NEI_05G',
 'NEI_05H',
 'NEI_05I',
 'WSA_05',
 'SDH_05',
 'CER_05',
 'CER_20',
 'LIS_10',
 'COS_10',
 'COS_15',
 'GH_05',
 'GH_10',
 'PMINOR',
 'PCER_10',
 'PCER_15',
 'PCHN',
 'PCOS_05',
 'PDCT_05',
 'P1DCT_20',
 'P1DCT_25',
 'PDV_SAH',
 'PDV_SUIT',
 'PDWLTYPE',
 'PDWS_10A',
 'PDWS_10B',
 'PDWS_10C',
 'PDWS_10D',
 'PDWS_10E',
 'PDWS_10F',
 'PDWS_10G',
 'PDWS_10H',
 'PDWS_10I',
 'PDWS_10J',
 'PEHA_05A',
 'PEHA_05B',
 'PEHA_05C',
 'PEMPL',
 'PFTHB5YR',
 'PHGEDUC',
 'PHHSIZE',
 'PHHTTINC',
 'PHTYPE',
 'PLIS_05',
 'PNSC_15',
 'POWN_20',
 'POWN_80',
 'PPAC_05',
 'PPAC_10',
 'PPAC_23',
 'PPAC_30',
 'PPAC_35',
 'PPAC_45A',
 'PPAC_45C',
 'PPAC_45D',
 'PPAC_45E',
 'PPAC_45F',
 'PPAC_45G',
 'PPAC_45H',
 'PPAC_45I',
 'PPAC_45J',
 'PPAC_45K',
 'PPAC_45L',
 'PPAC_45M',
 'PPAC_45N',
 'PPAC_45O',
 'PRSPIMST',
 'P1SCR_05',
 'PSCR_10',
 'PSCR_25',
 'PSCR_35',
 'PSCR_D40',
 'PSTIR_GR',
 'PVISMIN',
 'PWSA_D15',
 'P2DCT_20',
 'PATT_05',
 'PATT_10',
 'PATT_15A',
 'PATT_15B']

---
## [Task 1 : Handle Reserved Codes as NA](https://emmanuelolajubu90.atlassian.net/browse/SCRUM-12)

* Identify outcome vars (PCHN, PSTIR_GR) → confirm universe + eligibility rules

* Apply logic to convert reserved codes to NA for all relevant variables, without performing any recoding at this stage.

---

In [70]:
# 1. PCHN (Core Housing Need)

print("PCHN (Original Counts):")
df['PCHN'].value_counts(dropna=False).sort_index()

PCHN (Original Counts):

PCHN
1     6164
2    30938
9     1555
Name: count, dtype: int64

In [71]:
# Create a clean version: Map 9 to NaN
df['PCHN_Clean'] = df['PCHN'].replace({9: np.nan})

In [72]:
# Print the cleaned data count

print(df['PCHN_Clean'].value_counts(dropna=False).sort_index())
print('_'*50)
print(f"Records Excluded (Not Stated): {df['PCHN_Clean'].isna().sum()}")

PCHN_Clean
1.0     6164
2.0    30938
NaN     1555
Name: count, dtype: int64
__________________________________________________
Records Excluded (Not Stated): 1555

In [73]:
# 2. PSTIR_GR (Shelter-cost-to-income ratio group)

print("Definition: 1 (<30%), 2 (30-50%), 3 (50-100%), 4 (>=100%) \n")
print("Reserved Codes: 5 = Not Applicable, 9 = Not Stated \n")

print("PSTIR_GR (Original Counts):")
df['PSTIR_GR'].value_counts(dropna=False).sort_index()

Definition: 1 (<30%), 2 (30-50%), 3 (50-100%), 4 (>=100%)

Reserved Codes: 5 = Not Applicable, 9 = Not Stated

PSTIR_GR (Original Counts):

PSTIR_GR
1    28650
2     6440
3     2012
4      549
5      429
9      577
Name: count, dtype: int64

In [74]:
# Map 5 and 9 to NaN

df['PSTIR_GR_Clean'] = df['PSTIR_GR'].replace({5: np.nan, 9: np.nan})

In [75]:
print("\nPSTIR_GR cleaned data counts:")
display(df['PSTIR_GR_Clean'].value_counts(dropna=False).sort_index())
print(f"\nRecords Excluded (N/A or Not Stated): {df['PSTIR_GR_Clean'].isna().sum()}")

PSTIR_GR cleaned data counts:

PSTIR_GR_Clean
1.0    28650
2.0     6440
3.0     2012
4.0      549
NaN     1006
Name: count, dtype: int64

Records Excluded (N/A or Not Stated): 1006

In [76]:
# 3. Valid Universe Check : How many households are valid for BOTH measures?

valid_both = df.dropna(subset=['PCHN_Clean', 'PSTIR_GR_Clean'])
print(f"Total rows in dataset: {len(df)}")
print(f"Rows valid for BOTH PCHN and PSTIR_GR: {len(valid_both)}")

Total rows in dataset: 38657
Rows valid for BOTH PCHN and PSTIR_GR: 37102

In [77]:
# 3. EHA_10 (Difficulty meeting financial needs)
# Definition: 1=Very difficult to 5=Very easy
# Reserved Code: 9 = Not Stated

print("AUDIT: EHA_10 (Difficulty Meeting Financial Needs)")
print("_"*50)

print("EHA_10 (Original Counts):")
display(df['EHA_10'].value_counts(dropna=False).sort_index())

# Create a clean version: Map 9 to NaN
df['EHA_10_Clean'] = df['EHA_10'].replace({9: np.nan})

print("\nEHA_10 (Cleaned Counts):")
display(df['EHA_10_Clean'].value_counts(dropna=False).sort_index())
print(f"Records Excluded (Not Stated): {df['EHA_10_Clean'].isna().sum()}")

AUDIT: EHA_10 (Difficulty Meeting Financial Needs)
__________________________________________________
EHA_10 (Original Counts):

EHA_10
1     3733
2     9669
3    15527
4     6990
5     2652
9       86
Name: count, dtype: int64

EHA_10 (Cleaned Counts):

EHA_10_Clean
1.0     3733
2.0     9669
3.0    15527
4.0     6990
5.0     2652
NaN       86
Name: count, dtype: int64

Records Excluded (Not Stated): 86

In [78]:
# Optional: Create a binary 'Stress' flag for easier analysis later
# Logic: If household answered 'Very difficult'(1) or 'Difficult'(2) -> Stress = 1, Else 0
df['Financial_Hardship_Flag'] = np.where(df['EHA_10_Clean'].isin([1, 2]), 1, 0)
# Note: We keep NaNs as 0 or handled separately depending on your choice later,
# but usually for flags, we need to be careful not to label 'Unknown' as 'Not Stressed'.
# Better approach for strictly clean data:
df.loc[df['EHA_10_Clean'].isna(), 'Financial_Hardship_Flag'] = np.nan

print("\nDerived Feature: Financial_Hardship_Flag (1=Diff/Very Diff)")
display(df['Financial_Hardship_Flag'].value_counts(dropna=False))

Derived Feature: Financial_Hardship_Flag (1=Diff/Very Diff)

Financial_Hardship_Flag
0.0    25169
1.0    13402
NaN       86
Name: count, dtype: int64

In [79]:
# 4. EHA_25 (Skipped or delayed mortgage/rent payment)
# Definition: 1 = Yes, 2 = No
# Reserved Code: 9 = Not Stated


print("AUDIT: EHA_25 (Skipped Payments)")

print("EHA_25 (Original Counts):")
display(df['EHA_25'].value_counts(dropna=False).sort_index())

# Create a clean version: Map 9 to NaN
df['EHA_25_Clean'] = df['EHA_25'].replace({9: np.nan})

print("\nEHA_25 (Cleaned Counts):")
display(df['EHA_25_Clean'].value_counts(dropna=False).sort_index())
print(f"Records Excluded (Not Stated): {df['EHA_25_Clean'].isna().sum()}")

AUDIT: EHA_25 (Skipped Payments)
EHA_25 (Original Counts):

EHA_25
1     2113
2    36501
9       43
Name: count, dtype: int64

EHA_25 (Cleaned Counts):

EHA_25_Clean
1.0     2113
2.0    36501
NaN       43
Name: count, dtype: int64

Records Excluded (Not Stated): 43

In [80]:
print("FINAL UNIVERSE CHECK")
print("_"*100)

# Check how many have valid data for ALL four outcome measures
valid_all = df.dropna(subset=['PCHN_Clean', 'PSTIR_GR_Clean', 'EHA_10_Clean', 'EHA_25_Clean'])

print(f"Total rows in dataset: {len(df)}")
print(f"Rows valid for ACADEMIC metrics (PCHN + PSTIR): {len(valid_both)}") # From your previous code
print(f"Rows valid for ALL metrics (Academic + Financial Stress): {len(valid_all)}")

# Check correlation between 'Academic' Need (PCHN) and 'Real' Stress (EHA_10)
# This is a quick sneak peek to see if the variables align
crosstab_check = pd.crosstab(df['PCHN_Clean'], df['EHA_10_Clean'], normalize='index')
print("\nQuick Validation: How does Core Housing Need relate to Financial Difficulty?")
print("_"*100)
display(crosstab_check)

FINAL UNIVERSE CHECK
____________________________________________________________________________________________________
Total rows in dataset: 38657
Rows valid for ACADEMIC metrics (PCHN + PSTIR): 37102
Rows valid for ALL metrics (Academic + Financial Stress): 36979

Quick Validation: How does Core Housing Need relate to Financial Difficulty?
____________________________________________________________________________________________________

EHA_10_Clean       1.0       2.0       3.0       4.0       5.0
PCHN_Clean
1.0           0.184185  0.320371  0.321510  0.136349  0.037585
2.0           0.076736  0.235229  0.419927  0.192213  0.075894

---
## [Task 2: Predictor Variable Audit](https://emmanuelolajubu90.atlassian.net/browse/SCRUM-13)

* **Goal**: "Sanitize" the independent variables (Demographics, Geography, Socio-economic).

* **Action**: Systematically identify reserved codes (e.g., 99, 99999996) for key columns like Income, Age, and Tenure to prevent them from skewing analysis.

---

In [81]:
# 1. Define Targeted Cleaning Rules (Based on CHS 2022 Data Dictionary)
# Key = Variable Name, Value = List of Reserved Codes to Convert to NaN
cleaning_rules = {
    'PDWLTYPE': [6, 99],    # 6=Valid Skip (CONFIRMED RESERVED), 99=Not Stated
    'PHTYPE':   [99],       # 06 is Valid (Two+ persons not in census family). Only clean 99.
    'PHGEDUC':  [99],       # 06 is Valid (Bachelor's degree). Only clean 99.
    'PDCT_05':  [6, 9],     # Tenure: 6=Valid Skip, 9=Not Stated
    'PMINOR':   [9],        # Presence of Minor: 9=Not Stated
    'PVISMIN':  [9],        # Visible Minority: 9=Not Stated (High missingness expected)
    'PEMPL':    [6, 9],     # Employment: 6=Valid Skip (<15/Inst.), 9=Not Stated
    'REGION':   [],         # No reserved codes (1-5 are valid regions)
    'PAGEP1':   []          # No reserved codes
}

In [82]:
# 2. Apply Cleaning Logic
print("PREDICTOR VARIABLE AUDIT LOG")
print(f"{'Variable':<15} | {'Status':<15} | {'Action Taken'}")
print("-" * 60)

for var, bad_codes in cleaning_rules.items():
    if not bad_codes:
        print(f"{var:<15} | {'Clean':<15} | Verified. No changes.")
    else:
        # Create a clean version of the column (e.g., PHGEDUC -> PHGEDUC_Clean)
        df[f'{var}_Clean'] = df[var].replace(bad_codes, np.nan)

        # Calculate impact
        n_removed = df[f'{var}_Clean'].isna().sum() - df[var].isna().sum()
        # Note: If original had NaNs, we subtract them. (PUMF usually has codes, not NaNs)
        # Simplified reporting:
        n_removed = df[var].isin(bad_codes).sum()

        print(f"{var:<15} | {'Sanitized':<15} | Replaced {bad_codes} with NaN ({n_removed} rows)")

PREDICTOR VARIABLE AUDIT LOG
Variable        | Status          | Action Taken
------------------------------------------------------------
PDWLTYPE        | Sanitized       | Replaced [6, 99] with NaN (13908 rows)
PHTYPE          | Sanitized       | Replaced [99] with NaN (2135 rows)
PHGEDUC         | Sanitized       | Replaced [99] with NaN (1279 rows)
PDCT_05         | Sanitized       | Replaced [6, 9] with NaN (539 rows)
PMINOR          | Sanitized       | Replaced [9] with NaN (2152 rows)
PVISMIN         | Sanitized       | Replaced [9] with NaN (11250 rows)
PEMPL           | Sanitized       | Replaced [6, 9] with NaN (1665 rows)
REGION          | Clean           | Verified. No changes.
PAGEP1          | Clean           | Verified. No changes.

In [83]:
# 3. Clean Continuous Variable: PHHTTINC (Income)
# Reserved Codes: 99999996 (Valid Skip), 99999999 (Not Stated), 99999999999 (Not Stated)
income_garbage = [99999996, 99999999, 99999999999]

df['PHHTTINC_Clean'] = df['PHHTTINC'].replace(income_garbage, np.nan)
inc_removed = df['PHHTTINC'].isin(income_garbage).sum()


print(f"PHHTTINC        | Sanitized       | Replaced reserved high-values ({inc_removed} rows)")
print('\n\n')
print(f"New Max Income: ${df['PHHTTINC_Clean'].max():,.0f}\n\n")

display(  df['PHHTTINC_Clean'].describe())

PHHTTINC        | Sanitized       | Replaced reserved high-values (2026 rows)



New Max Income: $975,000

count     36631.000000
mean      84160.437198
std       82272.363137
min      -72500.000000
25%       30000.000000
50%       60000.000000
75%      110000.000000
max      975000.000000
Name: PHHTTINC_Clean, dtype: float64

In [84]:
# print("\nContinuous Variable: PHHTTINC")
# income_col = 'PHHTTINC'
# reserved_income_code = 99999999999
# max_val = df[income_col].max()

# if max_val == reserved_income_code:
#     count_reserved = (df[income_col] == reserved_income_code).sum()
#     print(f"-> Found reserved code {reserved_income_code} in {count_reserved} records.")

#     # Calculate stats on the clean data only
#     clean_income = df[df[income_col] != reserved_income_code][income_col]
#     print(f"-> Valid Income Range: ${clean_income.min():,.0f} to ${clean_income.max():,.0f}")
#     print(f"-> Median Income: ${clean_income.median():,.0f}")
# else:
#     print("-> No standard reserved code (99...9) found.")

# 3. [Data Retention Strategy](https://emmanuelolajubu90.atlassian.net/browse/SCRUM-10)

* **Goal**: Decide which categories to keep, drop, or collapse.

* **Action**: Review rare categories (e.g., small sample sizes in specific regions or gender groups) and decide if they need to be merged for statistical validity.

In [85]:
# --- STEP 1: DEFINE ANALYTIC UNIVERSE (RETENTION) ---
# Goal: Flag rows that have enough valid data to be useful for the Decision Support System.
# Criteria: Must have valid Income AND valid Tenure AND at least one Stress Outcome.

df['Valid_Row'] = (
    df['PHHTTINC_Clean'].notna() &      # Must have Income
    df['PDCT_05_Clean'].notna() &       # Must have Tenure (Own/Rent)
    (df['PCHN_Clean'].notna() | df['EHA_10_Clean'].notna()) # Must have at least one outcome
)

valid_count = df['Valid_Row'].sum()
dropped_count = len(df) - valid_count
print(f"1. RETENTION STRATEGY:")
print(f"   - Total Original Rows: {len(df):,}")
print(f"   - Valid Analytic Rows: {valid_count:,}")
print(f"   - Dropped (Incomplete Data): {dropped_count:,} ({round(dropped_count/len(df)*100, 1)}%)")

# Filter the dataframe for subsequent analysis
df_analytic = df[df['Valid_Row'] == True].copy()

1. RETENTION STRATEGY:
   - Total Original Rows: 38,657
   - Valid Analytic Rows: 36,359
   - Dropped (Incomplete Data): 2,298 (5.9%)

In [86]:
# --- STEP 2: LOGICAL BINNING (INCOME QUINTILES) ---
# Goal: Create 5 equal-sized income groups (Quintiles) for comparative analysis.
# Q1 = Poorest 20%, Q5 = Richest 20%

df_analytic['Income_Quintile'] = pd.qcut(df_analytic['PHHTTINC_Clean'], q=5, labels=[1, 2, 3, 4, 5])

print(f"\n2. INCOME BINNING (QUINTILES):")
print(f"   {'Quintile':<10} | {'Range ($ CAD)':<25} | {'Count'}")
print("-" * 50)

# Calculate ranges for display
for q in [1, 2, 3, 4, 5]:
    subset = df_analytic[df_analytic['Income_Quintile'] == q]['PHHTTINC_Clean']
    min_val = subset.min()
    max_val = subset.max()
    count = len(subset)
    print(f"   Q{q:<9} | ${min_val:,.0f} - ${max_val:,.0f}    | {count:,}")

2. INCOME BINNING (QUINTILES):
   Quintile   | Range ($ CAD)             | Count
--------------------------------------------------
   Q1         | $-72,500 - $27,000    | 7,839
   Q2         | $28,000 - $47,500    | 6,782
   Q3         | $48,000 - $77,500    | 7,532
   Q4         | $80,000 - $125,000    | 7,090
   Q5         | $130,000 - $975,000    | 7,116

In [87]:
# --- STEP 3: CATEGORICAL COLLAPSING ---
# Goal: Group rare or detailed categories into broader, actionable groups.

# A. Education Collapsing
# Mapping: 1,2 -> HS or Less | 3,4,5 -> Post-Sec/Trade | 6,7 -> University Degree
educ_map = {
    1: 'HS or Less', 2: 'HS or Less',
    3: 'Post-Sec/Trade', 4: 'Post-Sec/Trade', 5: 'Post-Sec/Trade',
    6: 'University Degree', 7: 'University Degree'
}
df_analytic['Education_Tier'] = df_analytic['PHGEDUC_Clean'].map(educ_map)

print(f"\n3. CATEGORICAL COLLAPSING SUMMARY:\n")
print("A. Education Tiers Created:")
display(df_analytic['Education_Tier'].value_counts())

3. CATEGORICAL COLLAPSING SUMMARY:

A. Education Tiers Created:

Education_Tier
Post-Sec/Trade       13163
HS or Less           12336
University Degree    10123
Name: count, dtype: int64

In [88]:
# B. Household Type (PHTYPE)
# Codes 01 & 02 are standard StatsCan codes for couples, even if missing from the label CSV.
hhtype_map = {
    1: 'Couple Only',           # Standard CHS Code 01
    2: 'Couple with Kids',      # Standard CHS Code 02
    3: 'Lone Parent',           # Code 03
    4: 'Shared/Complex',        # Code 04 (Census Fam + Others)
    5: 'Solo',                  # Code 05
    6: 'Shared/Complex'         # Code 06 (Non-Census Group)
}
# Note: Codes 1, 2, 3, 4, 5, 6 in CSV are integers.
df_analytic['Household_Type_Tier'] = df_analytic['PHTYPE_Clean'].map(hhtype_map)



print("\nB. Household Types Created:")
display(df_analytic['Household_Type_Tier'].value_counts())

B. Household Types Created:

Household_Type_Tier
Solo                16238
Couple with Kids     8477
Couple Only          5396
Lone Parent          2857
Shared/Complex       2246
Name: count, dtype: int64

In [89]:
# --- STEP 4: TENURE LABELING ---
# Question: "Is this dwelling owned?" -> 1=Yes, 2=No

tenure_map = {
    1: 'Owner',    # Yes, owned by member
    2: 'Renter'    # No, not owned (Renter)
}
df_analytic['Tenure_Status'] = df_analytic['PDCT_05_Clean'].map(tenure_map)


# --- VALIDATION PRINT ---
print("\nCORRECTED MAPPINGS VERIFICATION:")
print(f"1. Household Type (PHTYPE) Mapped:")
print(df_analytic['Household_Type_Tier'].value_counts())

print(f"\n2. Tenure (PDCT_05) Mapped (1=Owner, 2=Renter):")
print(df_analytic['Tenure_Status'].value_counts())

CORRECTED MAPPINGS VERIFICATION:
1. Household Type (PHTYPE) Mapped:
Household_Type_Tier
Solo                16238
Couple with Kids     8477
Couple Only          5396
Lone Parent          2857
Shared/Complex       2246
Name: count, dtype: int64

2. Tenure (PDCT_05) Mapped (1=Owner, 2=Renter):
Tenure_Status
Renter    20455
Owner     15904
Name: count, dtype: int64

# Weight Verification




* **Goal:** Ensure we are measuring the "Population," not just the "Sample."

* **Action:** Verify the distribution of PFWEIGHT (Person/Household Weights) to confirm they sum up to the Canadian population totals.

```

In [90]:
print("TASK 5: POPULATION WEIGHT VERIFICATION")
print("_"*80)

# 1. DEFINE MAPPINGS
prov_map = {
    10: 'Newfoundland and Labrador', 11: 'Prince Edward Island',
    12: 'Nova Scotia', 13: 'New Brunswick', 24: 'Quebec',
    35: 'Ontario', 46: 'Manitoba', 47: 'Saskatchewan',
    48: 'Alberta', 59: 'British Columbia'
}

region_map = {1: 'Atlantic', 2: 'Quebec', 3: 'Ontario', 4: 'Prairies', 5: 'BC'}

# Apply Mappings
df_analytic['Province_Name'] = df_analytic['PPROV'].map(prov_map)
df_analytic['Region_Name'] = df_analytic['REGION'].map(region_map)

# 2. NATIONAL TOTALS
total_weighted = df_analytic['PFWEIGHT'].sum()
print(f"\n NATIONAL SUMMARY:")
print(f"Total Sample Size:        {len(df_analytic):,}")
print(f"Estimated HH Population:  {total_weighted:,.0f}")

TASK 5: POPULATION WEIGHT VERIFICATION
________________________________________________________________________________

 NATIONAL SUMMARY:
Total Sample Size:        36,359
Estimated HH Population:  15,178,834

In [91]:
# 3. PROVINCIAL DISTRIBUTION
# Check if the weights sum up to realistic totals for the province
prov_stats = df_analytic.groupby('Province_Name')['PFWEIGHT'].agg(['count', 'sum']).reset_index()
prov_stats.columns = ['Province', 'Sample_Size', 'Weighted_Households']
prov_stats['Share_%'] = (prov_stats['Weighted_Households'] / total_weighted) * 100

print("\nPROVINCIAL DISTRIBUTION (WEIGHTED):")
# Sorting by weighted population to show largest provincial markets first
display(prov_stats.sort_values(by='Weighted_Households', ascending=False).style.format({
    'Sample_Size': '{:,}',
    'Weighted_Households': '{:,.0f}',
    'Share_%': '{:.2f}%'
}))

PROVINCIAL DISTRIBUTION (WEIGHTED):

In [92]:
# 4. REGIONAL DISTRIBUTION
# Check if the weights sum up to realistic totals for the regions
reg_stats = df_analytic.groupby('Region_Name')['PFWEIGHT'].agg(['count', 'sum']).reset_index()
reg_stats.columns = ['Region', 'Sample_Size', 'Weighted_Households']
reg_stats['Share_%'] = (reg_stats['Weighted_Households'] / total_weighted) * 100

print("\nREGIONAL DISTRIBUTION (WEIGHTED):")
display(reg_stats.sort_values(by='Weighted_Households', ascending=False).style.format({
    'Sample_Size': '{:,}',
    'Weighted_Households': '{:,.0f}',
    'Share_%': '{:.2f}%'
}))

REGIONAL DISTRIBUTION (WEIGHTED):

# Univariate Weighted Summaries



* **Goal**: The "Bird's Eye View" of Canada.

* **Action**: Generate weighted frequency tables to see the true proportion of renters, low-income households, and core housing need across the country.

In [93]:
# 1. DEFINE A REUSABLE WEIGHTING FUNCTION
def get_weighted_distribution(df, col, weight_col='PFWEIGHT', label_map=None):
    """
    Calculates unweighted counts, weighted estimates, and weighted percentages.
    """
    # Group by the variable and sum the weights
    stats = df.groupby(col)[weight_col].agg(['count', 'sum']).reset_index()
    stats.columns = [col, 'Sample_N', 'Weighted_Pop']

    # Calculate Percentage
    total_pop = stats['Weighted_Pop'].sum()
    stats['Weighted_%'] = (stats['Weighted_Pop'] / total_pop) * 100

    # Apply Label Mapping if provided (for readable output)
    if label_map:
        stats[col] = stats[col].map(label_map).fillna(stats[col])

    # Sort by Variable index usually, or descending weight
    return stats.sort_values(by=col)

In [94]:
# 2. DEFINE LABEL MAPPINGS (For Readability)
# Based on Data Dictionary
pchn_labels = {1: 'In Core Need', 2: 'Not In Need'}
eha25_labels = {1: 'Yes (Skipped Payment)', 2: 'No'}
eha10_labels = {
    1: 'Very Difficult', 2: 'Difficult', 3: 'Neither',
    4: 'Easy', 5: 'Very Easy'
}

In [95]:

# 3. GENERATE SUMMARIES

# --- A. OUTCOME VARIABLES (THE "STRESS" RATES) ---
print("\n--- A. NATIONAL HOUSING STRESS RATES ---")

# Core Housing Need (Official Metric)
dist_pchn = get_weighted_distribution(df_analytic, 'PCHN_Clean', label_map=pchn_labels)
print("\n1. Core Housing Need (PCHN):")
display(dist_pchn.style.format({'Weighted_Pop': '{:,.0f}', 'Weighted_%': '{:.1f}%'}))

# Skipped Payments (Acute Stress)
dist_eha25 = get_weighted_distribution(df_analytic, 'EHA_25_Clean', label_map=eha25_labels)
print("\n2. Skipped Mortgage/Rent (EHA_25):")
display(dist_eha25.style.format({'Weighted_Pop': '{:,.0f}', 'Weighted_%': '{:.1f}%'}))

# Financial Difficulty (Subjective Stress)
dist_eha10 = get_weighted_distribution(df_analytic, 'EHA_10_Clean', label_map=eha10_labels)
print("\n3. Difficulty Meeting Financial Needs (EHA_10):")
display(dist_eha10.style.format({'Weighted_Pop': '{:,.0f}', 'Weighted_%': '{:.1f}%'}))

# --- B. PREDICTOR VARIABLES (DEMOGRAPHICS) ---
print("\n--- B. POPULATION DEMOGRAPHICS ---")

# Tenure Status
dist_tenure = get_weighted_distribution(df_analytic, 'Tenure_Status')
print("\n4. Tenure Status:")
display(dist_tenure.style.format({'Weighted_Pop': '{:,.0f}', 'Weighted_%': '{:.1f}%'}))

# Household Type
dist_hhtype = get_weighted_distribution(df_analytic, 'Household_Type_Tier')
print("\n5. Household Structure:")
display(dist_hhtype.sort_values('Weighted_%', ascending=False).style.format({'Weighted_Pop': '{:,.0f}', 'Weighted_%': '{:.1f}%'}))

# Education Level
dist_educ = get_weighted_distribution(df_analytic, 'Education_Tier')
print("\n6. Education Level:")
display(dist_educ.sort_values('Weighted_%', ascending=False).style.format({'Weighted_Pop': '{:,.0f}', 'Weighted_%': '{:.1f}%'}))

# Income Quintiles (Sanity Check - Should be ~20% each)
dist_inc = get_weighted_distribution(df_analytic, 'Income_Quintile')
print("\n7. Income Quintile Distribution (Sanity Check):")
display(dist_inc.style.format({'Weighted_Pop': '{:,.0f}', 'Weighted_%': '{:.1f}%'}))

--- A. NATIONAL HOUSING STRESS RATES ---

1. Core Housing Need (PCHN):

2. Skipped Mortgage/Rent (EHA_25):

3. Difficulty Meeting Financial Needs (EHA_10):

--- B. POPULATION DEMOGRAPHICS ---

4. Tenure Status:

5. Household Structure:

6. Education Level:

7. Income Quintile Distribution (Sanity Check):

/tmp/ipython-input-3712123180.py:7: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  stats = df.groupby(col)[weight_col].agg(['count', 'sum']).reset_index()

#Bivariate Weighted Analysis


Description

* **Goal**: Testing the Hypotheses.

* **Action**: Create cross-tabs (e.g., Renter vs. Owner crossed with Core Housing Need) to see where the stress is actually concentrated.

In [96]:
# Define Map GLOBALLY first to avoid errors
eha_map = {1: 'Very Diff', 2: 'Diff', 3: 'Neither', 4: 'Easy', 5: 'Very Easy'}

# FIX: Make weighted crosstabs return true percentages (0–100), not proportions (0–1)

def weighted_crosstab(df, row_var, col_var, weight_col='PFWEIGHT'):
    """Weighted row-percentage cross-tabulation (0–100)."""
    tab = df.groupby([row_var, col_var], observed=False)[weight_col].sum().unstack(fill_value=0)
    pct = tab.div(tab.sum(axis=1), axis=0) * 100
    return pct

In [97]:
# STEP 2 CHECK: confirm reserved codes are present in key variables

check_vars = ['PCHN', 'PSTIR_GR', 'PHHTTINC', 'PDCT_05', 'PHHSIZE']

for v in check_vars:
    print(v, sorted(df[v].unique())[:10], '...', sorted(df[v].unique())[-5:])

PCHN [np.int64(1), np.int64(2), np.int64(9)] ... [np.int64(1), np.int64(2), np.int64(9)]
PSTIR_GR [np.int64(1), np.int64(2), np.int64(3), np.int64(4), np.int64(5), np.int64(9)] ... [np.int64(2), np.int64(3), np.int64(4), np.int64(5), np.int64(9)]
PHHTTINC [np.int64(-72500), np.int64(-70000), np.int64(-65000), np.int64(-26000), np.int64(-24000), np.int64(-8000), np.int64(-7750), np.int64(-2300), np.int64(-1800), np.int64(-1750)] ... [np.int64(900000), np.int64(925000), np.int64(950000), np.int64(975000), np.int64(99999999999)]
PDCT_05 [np.int64(1), np.int64(2), np.int64(9)] ... [np.int64(1), np.int64(2), np.int64(9)]
PHHSIZE [np.int64(1), np.int64(2), np.int64(3), np.int64(4), np.int64(5), np.int64(99)] ... [np.int64(2), np.int64(3), np.int64(4), np.int64(5), np.int64(99)]

According to the CHS 2022 data dictionary:

1 = In core housing need

2 = Not in core housing need

9 = Not stated (reserved) **bold text**

PCHN (Core housing need)
Valid values: 1, 2
Reserved codes: 9 (Not stated)

PSTIR_GR (Shelter-cost-to-income ratio group)
Valid values: 1, 2, 3, 4
Reserved codes: 5 (Not applicable), 9 (Not stated)

PHHTTINC (Total household income)
Valid values: ≥ 0
Reserved / invalid values:
Negative values (valid skips / not applicable) and 99999999999 (Not stated)

PDCT_05 (Tenure – owned by household member)
Valid values: 1 (Yes), 2 (No)
Reserved codes: 9 (Not stated)

PHHSIZE (Household size)
Valid values: 1–5
Reserved codes: 99 (Not stated)

In [98]:
# STEP 6: Clean PCHN only (dictionary-justified)

df['PCHN_clean'] = df['PCHN'].replace({9: pd.NA})
df['PCHN_clean'].value_counts(dropna=False)

df['PDCT_05_clean'] = df['PDCT_05'].replace({9: pd.NA})
df['PDCT_05_clean'].value_counts(dropna=False)


df['PSTIR_GR_clean'] = df['PSTIR_GR'].replace({5: pd.NA, 9: pd.NA})

df['PHHTTINC_clean'] = df['PHHTTINC'].where(
    (df['PHHTTINC'] >= 0) & (df['PHHTTINC'] != 99999999999),
    pd.NA
)

df['PHHSIZE_clean'] = df['PHHSIZE'].replace({99: pd.NA})

In [99]:
# H1: Renters are more likely to experience housing stress (robust labeling)

print("\n[HYPOTHESIS 1]: TENURE STATUS vs. HOUSING STRESS")
print("-" * 50)

# A. Core Housing Need (PCHN)
ct_h1_pchn = weighted_crosstab(df_analytic, 'Tenure_Status', 'PCHN_Clean')
ct_h1_pchn = ct_h1_pchn.rename(columns={1: 'In Core Need', 2: 'Not In Need'}).reindex(
    columns=['In Core Need', 'Not In Need']
)
print("1. Tenure vs. Core Housing Need (% within Tenure):")
display(ct_h1_pchn.style.format("{:.1f}%"))

# B. Financial Difficulty (EHA_10)
ct_h1_eha = weighted_crosstab(df_analytic, 'Tenure_Status', 'EHA_10_Clean')
ct_h1_eha = ct_h1_eha.rename(columns=eha_map).reindex(
    columns=['Very Diff', 'Diff', 'Neither', 'Easy', 'Very Easy']
)
print("\n2. Tenure vs. Financial Difficulty (% within Tenure):")
display(ct_h1_eha.style.format("{:.1f}%"))

# C. Acute Stress (Skipped Payments)
ct_h1_skip = weighted_crosstab(df_analytic, 'Tenure_Status', 'EHA_25_Clean')
ct_h1_skip = ct_h1_skip.rename(columns={1: 'Skipped Payment', 2: 'No'}).reindex(
    columns=['Skipped Payment', 'No']
)
print("\n3. Acute Stress (Skipped Payments) by Tenure:")
display(ct_h1_skip[['Skipped Payment']].style.format("{:.1f}%"))

[HYPOTHESIS 1]: TENURE STATUS vs. HOUSING STRESS
--------------------------------------------------
1. Tenure vs. Core Housing Need (% within Tenure):

2. Tenure vs. Financial Difficulty (% within Tenure):

3. Acute Stress (Skipped Payments) by Tenure:

In [100]:
# H2: Lower income households have higher stress (robust labeling)

print("\n[HYPOTHESIS 2]: INCOME QUINTILE vs. STRESS")
print("-" * 50)

# A. Financial Difficulty by Income
ct_h2_eha = weighted_crosstab(df_analytic, 'Income_Quintile', 'EHA_10_Clean')
ct_h2_eha = ct_h2_eha.rename(columns=eha_map).reindex(columns=['Very Diff', 'Diff', 'Neither', 'Easy', 'Very Easy'])
print("1. Income Quintile vs. Financial Difficulty (% within Quintile):")
display(ct_h2_eha[['Very Diff', 'Diff']].style.format("{:.1f}%").background_gradient(cmap='Reds', axis=None))

# B. Skipped Payments by Income
ct_h2_skip = weighted_crosstab(df_analytic, 'Income_Quintile', 'EHA_25_Clean')
ct_h2_skip = ct_h2_skip.rename(columns={1: 'Skipped Payment (Yes)', 2: 'No'}).reindex(columns=['Skipped Payment (Yes)', 'No'])
print("\n2. Income Quintile vs. Skipped Payments (% within Quintile):")
display(ct_h2_skip[['Skipped Payment (Yes)']].style.format("{:.1f}%").background_gradient(cmap='Reds'))

[HYPOTHESIS 2]: INCOME QUINTILE vs. STRESS
--------------------------------------------------
1. Income Quintile vs. Financial Difficulty (% within Quintile):

2. Income Quintile vs. Skipped Payments (% within Quintile):

In [101]:
# H3: Housing affordability stress varies by province and region (robust labeling)

print("\n[HYPOTHESIS 3]: REGIONAL & PROVINCIAL VARIATION")
print("-" * 50)

# A. Regional Stress (PCHN)
ct_h3_region = weighted_crosstab(df_analytic, 'Region_Name', 'PCHN_Clean')
ct_h3_region = ct_h3_region.rename(columns={1: 'In Core Need', 2: 'Not In Need'}).reindex(
    columns=['In Core Need', 'Not In Need']
)
print("1. Regional Core Housing Need Rates:")
display(ct_h3_region.sort_values('In Core Need', ascending=False).style.format("{:.1f}%"))

# B. Provincial Stress (PCHN)
ct_h3_prov = weighted_crosstab(df_analytic, 'Province_Name', 'PCHN_Clean')
ct_h3_prov = ct_h3_prov.rename(columns={1: 'In Core Need', 2: 'Not In Need'}).reindex(
    columns=['In Core Need', 'Not In Need']
)
print("\n2. Provincial Core Housing Need Rates (Detailed):")
display(ct_h3_prov.sort_values('In Core Need', ascending=False).style.format("{:.1f}%"))

[HYPOTHESIS 3]: REGIONAL & PROVINCIAL VARIATION
--------------------------------------------------
1. Regional Core Housing Need Rates:

2. Provincial Core Housing Need Rates (Detailed):

ADD-ONS: Weighted baseline (headline rates)

In [102]:
# BASELINE: National housing stress rates (weighted)

def weighted_share(series, weight):
    tmp = pd.DataFrame({"x": series, "w": weight}).dropna()
    return (tmp.groupby("x")["w"].sum() / tmp["w"].sum() * 100)

print("Baseline Core Housing Need (PCHN_clean):")
display(weighted_share(df_analytic["PCHN_Clean"], df_analytic["PFWEIGHT"]).rename({
    1: "In Core Need",
    2: "Not In Core Need"
}).to_frame("Weighted %").style.format("{:.1f}%"))

print("\nBaseline Shelter-Cost-to-Income Ratio (PSTIR_GR_Clean):")
display(weighted_share(df_analytic["PSTIR_GR_Clean"], df_analytic["PFWEIGHT"])
        .to_frame("Weighted %").style.format("{:.1f}%"))

Baseline Core Housing Need (PCHN_clean):

Baseline Shelter-Cost-to-Income Ratio (PSTIR_GR_Clean):

ADD-ON 2: Unweighted N reporting for H1–H3

In [103]:
# Utility: unweighted counts used in each table

def unweighted_n(df, group_var, outcome_var):
    return (
        df[[group_var, outcome_var]]
        .dropna()
        .groupby(group_var)
        .size()
        .to_frame("Unweighted n")
    )

# Example: H1 (Tenure × PCHN)
print("Unweighted N — H1 (Tenure × PCHN):")
display(unweighted_n(df_analytic, "Tenure_Status", "PCHN_Clean"))

# Example: H2 (Income Quintile × PCHN)
print("Unweighted N — H2 (Income Quintile × PCHN):")
display(unweighted_n(df_analytic, "Income_Quintile", "PCHN_Clean"))

# Example: H3 (Region × PCHN)
print("Unweighted N — H3 (Region × PCHN):")
display(unweighted_n(df_analytic, "Region_Name", "PCHN_Clean"))

Unweighted N — H1 (Tenure × PCHN):

               Unweighted n
Tenure_Status
Owner                 15421
Renter                19957

Unweighted N — H2 (Income Quintile × PCHN):

/tmp/ipython-input-936115113.py:7: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  .groupby(group_var)

                 Unweighted n
Income_Quintile
1                        7259
2                        6683
3                        7429
4                        6979
5                        7028

Unweighted N — H3 (Region × PCHN):

             Unweighted n
Region_Name
Atlantic             9321
BC                   3647
Ontario              7076
Prairies            10148
Quebec               5186

ADD-ON 3: Income quintile audit (documentation + check)

In [104]:
# Income quintile audit

print("Income quintile construction check:")
print("- Derived from PHHTTINC_clean")
print("- Reserved/invalid income excluded")
print("- Quintiles constructed BEFORE hypothesis testing")

display(df_analytic["Income_Quintile"].value_counts(dropna=False))

Income quintile construction check:
- Derived from PHHTTINC_clean
- Reserved/invalid income excluded
- Quintiles constructed BEFORE hypothesis testing

Income_Quintile
1    7839
3    7532
5    7116
4    7090
2    6782
Name: count, dtype: int64

ADD-ON 4: Universe / denominator clarity


Analytical universe note
All descriptive statistics use cleaned variables (e.g., PCHN_Clean, PSTIR_GR_Clean).
Reserved codes such as “Not stated” and “Not applicable” were treated as missing and excluded from denominators when computing percentages.

In [110]:

df_analytic["PHHSIZE_Clean"] = df_analytic["PHHSIZE"].replace({99: pd.NA})

ADD-ON 5: Consistency check for analytic frame

In [111]:
# Final consistency check: cleaned variables used everywhere

clean_vars = [
    "PCHN_Clean",
    "PSTIR_GR_Clean",
    "PDCT_05_Clean",
    "PHHTTINC_Clean",
    "PHHSIZE_Clean"
]

df_analytic[clean_vars].isna().mean().to_frame("Share missing")

                Share missing
PCHN_Clean           0.026981
PSTIR_GR_Clean       0.012239
PDCT_05_Clean        0.000000
PHHTTINC_Clean       0.000000
PHHSIZE_Clean        0.023075

#Correlation & Heatmapping


* **Goal:** Statistical Validation.

* **Action:** Run correlations on the clean, numeric variables to statistically validate which factors (Income, Dwelling Condition, etc.) are most strongly linked to Housing Stress.

In [112]:
# # TASK 8: CORRELATION MATRIX & HEATMAP (QUANTIFYING H4 PREDICTORS)

# import seaborn as sns

# # 1. PREPARE NUMERIC DATA FOR CORRELATION
# # Correlation requires numbers, not text. We create "_Code" versions of our variables.
# # We align them so HIGHER numbers = MORE RISK (or clearer interpretation).

# # A. Outcomes (Mapped so 1 = Stress Event)
# # PCHN: 1=In Need, 2=Not In Need -> Map to 1 (Stress), 0 (No Stress)
# df_analytic['PCHN_Code'] = df_analytic['PCHN_Clean'].map({1: 1, 2: 0})

# # EHA_25: 1=Yes Skipped, 2=No -> Map to 1 (Stress), 0 (No Stress)
# df_analytic['EHA_25_Code'] = df_analytic['EHA_25_Clean'].map({1: 1, 2: 0})

# # EHA_10: 1=Very Diff ... 5=Very Easy.
# # We Keep 1=High Stress, 5=Low Stress. Correlation will be NEGATIVE with good things (Income).
# df_analytic['EHA_10_Code'] = df_analytic['EHA_10_Clean']

# # B. Predictors (Numeric/Ordinal)
# # Tenure: Renter is the Risk Factor. Map Renter=1, Owner=0.
# df_analytic['Tenure_Code'] = df_analytic['Tenure_Status'].map({'Renter': 1, 'Owner': 0})

# # Income: Quintiles 1-5. Higher = Richer.
# df_analytic['Income_Code'] = df_analytic['Income_Quintile'].astype(int)

# # Education: Higher = More Educated.
# educ_rank = {'HS or Less': 1, 'Post-Sec/Trade': 2, 'University Degree': 3}
# df_analytic['Educ_Code'] = df_analytic['Education_Tier'].map(educ_rank)

In [113]:
# # 2. DEFINE WEIGHTED CORRELATION FUNCTION
# def weighted_corr(x, y, w):
#     """
#     Calculates Weighted Pearson Correlation between two vectors x and y with weights w.
#     """
#     def weighted_mean(z, w):
#         return np.sum(z * w) / np.sum(w)

#     def weighted_cov(x, y, w):
#         x_mean = weighted_mean(x, w)
#         y_mean = weighted_mean(y, w)
#         return np.sum(w * (x - x_mean) * (y - y_mean)) / np.sum(w)

#     cov_xy = weighted_cov(x, y, w)
#     std_x = np.sqrt(weighted_cov(x, x, w))
#     std_y = np.sqrt(weighted_cov(y, y, w))

#     return cov_xy / (std_x * std_y)

In [114]:
# # 3. CALCULATE THE MATRIX
# # Select variables to correlate
# corr_vars = [
#     'PCHN_Code', 'EHA_25_Code', 'EHA_10_Code',  # Outcomes
#     'Tenure_Code', 'Income_Code', 'Educ_Code'   # Predictors
# ]

# # Create an empty matrix
# corr_matrix = pd.DataFrame(index=corr_vars, columns=corr_vars)

# # Fill the matrix
# for i in corr_vars:
#     for j in corr_vars:
#         if i == j:
#             corr_matrix.loc[i, j] = 1.0
#         else:
#             r = weighted_corr(df_analytic[i], df_analytic[j], df_analytic['PFWEIGHT'])
#             corr_matrix.loc[i, j] = r

# # Convert to float for plotting
# corr_matrix = corr_matrix.astype(float)

In [115]:
# # 4. VISUALIZE WITH HEATMAP
# plt.figure(figsize=(10, 8))
# sns.heatmap(corr_matrix, annot=True, cmap='RdBu_r', center=0, fmt=".2f", linewidths=0.5)
# plt.title('Weighted Correlation Matrix: Housing Stress Predictors', fontsize=14)
# plt.show()

In [116]:
# # 5. PRINT TOP PREDICTORS
# print("\nTop Predictors for Core Housing Need (PCHN):")
# print(corr_matrix['PCHN_Code'].drop('PCHN_Code').sort_values(key=abs, ascending=False))