<a href="https://colab.research.google.com/github/Theeyecode/Housing-Stress-Canada/blob/eda/descriptive_stat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
import pandas as pd

url = "https://drive.google.com/uc?id=11Y8p_9-CYw0tpGPFu-jlgzxzWOOVS43F"

In [25]:


df = pd.read_csv(url)
df.head()

Shape of the Raw data

In [26]:
df.shape

(38657, 103)

In [31]:
# df.dtypes
df.dtypes.value_counts()

int64             98
float64            4
datetime64[ns]     1
Name: count, dtype: int64

In [30]:
# Identify non-numeric columns (typically dates or text fields)
df.select_dtypes(include="object").columns.tolist()

[]

In [29]:
# Convert verification date to datetime for proper handling
df["VERDATE"] = pd.to_datetime(df["VERDATE"], errors="coerce")

In [33]:
# # Check missing values per column (after initial load)
df.isna().sum().sort_values(ascending=False)

In [35]:
# Get basic descriptive stats for numeric columns (unweighted, structure check)
df.describe().T

In [21]:
# # Identify columns that contain obvious reserved codes (e.g., 9, 96, 99, 999, etc.)
reserved_codes = [9, 96, 99, 996, 999, 999.6, 999.9, 99999996, 99999999, 99999999999]

reserved_check = {
    col: df[col].isin(reserved_codes).any()
    for col in df.columns
    if df[col].dtype != "object"
}

[k for k, v in reserved_check.items() if v]